<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Create a new upload</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="upload" ng-model='vm.upload.description'>
                <input file-upload type="file" class="form-control" placeholder="upload" ng-model='vm.upload.image'>
                <input type="text" class="form-control" placeholder="upload" ng-model='vm.upload.user_id'>
            </div>
            <button ng-click='vm.create()' class="btn btn-default">Add</button>
        </form>
        <h2 ng-show='vm.uploads.length>0'>My uploads</h2>
        <div class="panel panel-default" ng-repeat='upload in vm.uploads | orderBy: "description"'>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="upload" ng-model='upload.description'>
                        <img src="{{upload.image}}" alt="image moustache"/>
                        <input type="text" class="form-control" placeholder="upload" ng-model='vm.upload.user_id'>
                    </div>
                    <button ng-click='vm.update(upload)' class="btn btn-default">Edit</button>
                    <button ng-click='vm.delete(upload)' class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
